name = "PNML"
uuid = "1f34f301-fe8c-4464-8328-ff2334f05424"
version = "0.0.28"
authors = ["Jeff Hurst <strangehurst@users.noreply.github.com>"]

[workspace]
projects = ["test", "docs", "benchmark"]

[deps]
AutoHashEquals = "15f4f7f2-30c1-5605-9d31-71845cf9641f"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
ExproniconLite = "55351af7-c7e9-48d6-89ff-24e801d99491"
EzXML = "8f5d6c58-4d21-5cfd-889c-e3ad7ee6a615"
FunctionWrappers = "069b7b12-0de2-55c6-9aab-29f3d0a68a2e"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
LoggingExtras = "e6f89c97-d47a-5376-807f-9c37f3926c36"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
MetaGraphsNext = "fa8bd995-216d-47f1-8a91-f3b68fbeb377"
Metatheory = "e9d8d322-4543-424a-9be4-0cc815abe26c"
Moshi = "2e0e35c7-a2e4-4343-998d-7ef72827ed2d"
Multisets = "3b2b4ff1-bcff-5658-a3ee-dbcf1ce5ac09"
NamedTupleTools = "d9ec5142-1e00-5aa0-9d6a-321866360f50"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SciMLLogging = "a6db7da4-7206-11f0-1eab-35f2a5dbe1d1"
SciMLPublic = "431bcebd-1456-4ced-9d72-93c2757fff0b"
TermInterface = "8ea1fca8-c5ef-4a55-8b96-4e9afe9c9a3c"
XMLDict = "228000da-037f-5747-90a9-8195ccbf91a5"

[compat]
AutoHashEquals = "1, 2"
Compat = "4.18.0"
DataStructures = "0.19.3"
DocStringExtensions = "0.9"
ExproniconLite = "0.10.14"
EzXML = "1"
FunctionWrappers = "1"
Graphs = "1.0"
Logging = "1"
LoggingExtras = "1"
MacroTools = "0.5.13"
MetaGraphsNext = "0.7"
Metatheory = "3.0.0"
Moshi = "0.3.7"
Multisets = "0.4"
NamedTupleTools = "0.14"
OrderedCollections = "1"
PrecompileTools = "1"
Preferences = "1"
Reexport = "1"
SciMLLogging = "1.0.0"
SciMLPublic = "1"
TermInterface = "2"
XMLDict = "0.4"
julia = "1.10"
